.containerStore {
    // background: black;
    display: flex;
    .house {
        background: rgb(243, 226, 195);
        margin: auto;
        .garage {
            fill: rgb(248, 246, 245);
            stroke: 2px black;
        }
        .squareSpace {
            fill: white;
            stroke: black;
            stroke-width: 1px;
        }
        .groundTrim {
            fill: grey;
            stroke: black;
            stroke-width: 1px;
        }
        .door {
            fill: white;
            stroke: black;
        }
        .doorHandle {
            fill: lightgrey;
            stroke: black;
        }
    }
    
    
}







.topLeft {
    stroke: 2px solid black;
}