p#p_one {
	display: none;
}

p#p_one_display {
	margin: auto;
	padding: 25px;
	color: #5f5948;
	font-weight: bold;
	line-height: 1.5;
	font-size: 1.5em;
}

@media only screen and (max-width: 465px) {
	#about_me {
		margin: auto;
			width: 365px;
			font-size: 2em;
			height: 50px;
			display: flex;
			align-items: center;
			justify-content: center;
		border-left: 1px solid black;
	}
	p#p_one_display {
		padding: 10px 0px;
		display: flex;
		flex-basis: 365px;
		flex-shrink: 1;
		flex-grow: 0;
		max-width: 365px;
		font-size: 1em;
		
	}
}
