@font-face {
  font-family: 'comfortaa';
  src: url('../../Comfortaa-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'stein';
  src: url('../../SteinAntik.ttf') format('truetype');
}

@font-face {
  font-family: 'harryp';
  src: url('../../HARRYP__.TTF') format('truetype');
}

.Home {
  width: 100%;
  height: 100vh;
  background: rgb(39, 109, 150);
  background-size: fill;
  z-index: 0;
  .Head {
    display: flex;
    .Avi {
      width: 250px;
      height: 250px;
      border-radius: 50%;
      z-index: 1;
      margin-top: 25px;
      margin-left: 50px;
      background-image: url('https://avatars1.githubusercontent.com/u/40615038?s=460&v=4');
      background-size: cover;
      border: 2px solid black;
    }
    .Head_Column {
      margin-top: 5vh;
      margin-left: 2vw;
      color: black;
      z-index: 5;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 70%;
      width: 71%;
      #aaron_estes {
        font-size: 3em;
        font-weight: bold;
        background: yellow;
        width: 22vw;
      }
      #dallas_tx {
        font-size: 2em;
      }
      .skills {
        display: flex;
        flex-wrap: wrap;
        #node, #js {
          margin-left: 25vw;
        }
        #node,
        #react,
        #aws,
        #d3,
        #firebase,
        #js,
        #py,
        #sass,
        #css,
        #html5
         {
          display: flex;
          margin-top: 0;
          z-index: 10000;
          width: 140px;
          height: 120px;
          margin-top: -10vh;
          margin-bottom: 11vh;
        }
      }
    }
    
    
  }

  .about_me {
    z-index: 5;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: 3em;
  }

  .Display_About {
    padding-top: 10px;
    width: 90vw;
    height: 22vh;
    background: rgba(24, 23, 23, 0.596);
    display: flex;
    flex-wrap: wrap;
    margin-left: 75px;
    margin-top: 5vh;
    margin-bottom: 5vh;
    p {
      color: white;
      font-weight: bold;
      font-size: 2em;
      font-family: 'comfortaa';
    }
    #p_one {
      margin-top: 0;
      margin-left: 5vw;
    }
    #p_two {
      margin-top: -30px;
    }
  }

  .Display_Projects {
    width: 100%;
    min-height: 62%;
    background: rgb(39, 109, 150);
    z-index: 30;
    margin-top: 5vh;
    .header {
      display: flex;
      .Name_Of_Project_and_Website {
        width: 50vw;
        display: flex;
        h1 {
          font-family: 'stein';
        }
        a {
          color: black;
          align-content: center;
          align-items: center;
          justify-content: center;
          display: flex;
          margin-left: 10px;
        }
      }
      .Name_Of_GroupProject_and_Website {
        display: flex;
        width: 62%;
        margin-right: 0;
        #harryp {
          font-family: 'harryp';
          font-size: 5em;
          margin: 0;
          position: sticky;
          width: 54%;
        }
        a {
          color: black;
          margin-left: 10px;
          display: flex;
          align-items: center;
        }
      }
    }

    .spacing {
      width: 100vw;
      height: 5vh;
      background-image: url('http://www.selfgrowth.info/photos/cool-space-photos/space-templates-creative-common1680.jpg');
    }

    .project_area {
      display: flex;
      width: 100%;
      .personal_project_pic {
        background-image: url('http://rrg-climbing-pics.s3-website-us-east-1.amazonaws.com/d90d1ab6-4570-407f-a2c8-c1f0049b5c35_ScreenShot2018-12-25at3.42.27PM.png');
        background-size: cover;
        max-width: 50%;
        max-height: 60vh;
      }
      .project_info {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
        font-size: 2em;
        p {
          margin-left: 10px;
        }
        li {
          color: white;
          margin-left: 1vw;
          margin-bottom: 1vh;
          background: rgba(24, 23, 23, 0.596);
          list-style-position: outside;
          display: table-row;
        }
      }
    }
  }
}

#group_project_due_date {
  display: flex;
  margin-left: -180px;
}
